.white-label .inf-top-nav .top-logo {
    width: auto; }

.white-label .inf-top-nav .top-logo img {
    height: 40px;
    margin-top: 4px; }

.white-label-login .welcome-image {
    height: 50px; }

.white-label-login .welcome-subtitle {
    text-align: center;
    color: #78909c; }